<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.huawei.carstatushelper">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.BYDAUTO_BODYWORK_COMMON" />
    <uses-permission android:name="android.permission.BYDAUTO_BODYWORK_GET" />
    <uses-permission android:name="android.permission.BYDAUTO_STATISTIC_GET" />
    <uses-permission android:name="android.permission.BYDAUTO_SPEED_COMMON" />
    <uses-permission android:name="android.permission.BYDAUTO_SPEED_GET" />
    <uses-permission android:name="android.permission.BYDAUTO_ENERGY_COMMON" />
    <uses-permission android:name="android.permission.BYDAUTO_ENERGY_GET" />
    <uses-permission android:name="android.permission.BYDAUTO_ENGINE_COMMON" />
    <uses-permission android:name="android.permission.BYDAUTO_ENGINE_GET" />
    <uses-permission android:name="android.permission.BYDAUTO_GEARBOX_GET" />
    <uses-permission android:name="android.permission.BYDAUTO_AC_COMMON" />
    <uses-permission android:name="android.permission.BYDAUTO_AC_GET" />
    <uses-permission android:name="android.permission.BYDAUTO_AC_SET" />
    <uses-permission android:name="android.permission.BYDAUTO_CHARGING_COMMON" />
    <uses-permission android:name="android.permission.BYDAUTO_CHARGING_GET" />
    <uses-permission android:name="android.permission.BYDAUTO_CHARGING_SET" />
    <uses-permission android:name="android.permission.BYDAUTO_POWER_GET" />
    <uses-permission android:name="android.permission.BYDAUTO_BIGDATA_GET" />
    <uses-permission android:name="android.permission.BYDAUTO_RADAR_COMMON" />
    <uses-permission android:name="android.permission.BYDAUTO_RADAR_GET" />
    <uses-permission android:name="android.permission.BYDAUTO_AUDIO_COMMON" />
    <uses-permission android:name="android.permission.BYDAUTO_DOOR_LOCK_COMMON" />
    <uses-permission android:name="android.permission.BYDAUTO_INSTRUMENT_COMMON" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service
            android:name=".service.BootCompleteTestService"
            android:enabled="true"
            android:exported="true" />

        <receiver
            android:name=".receiver.BootCompleteReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="100">
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".service.RadarDataProviderService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".activity.RadarFloatingSettingActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <service
            android:name=".service.RadarFloatingService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".activity.ReflectBydActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <service
            android:name=".service.DetectionService"
            android:exported="false"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/detection_service_config" />
        </service>

        <activity
            android:name=".activity.SettingsActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".SplashActivity"
            android:exported="false" />
        <activity
            android:name=".activity.AboutActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="com.ziwenl.floatingwindowdemo.FloatingWindowService"
            android:exported="false" />
    </application>

</manifest>